*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.contenedor-carrito{
  padding-top: 9%;
  height: 100vh;
  width: 100vh;
  background-color:#e2e8f0;
}
.card-header{
  color:white;
  background-color:rgba(0, 0, 0, 0.845) !important;
}
.btn-outline-secondary{
  margin-top:10px;
  color:white !important;
  background-color:rgba(0, 0, 0, 0.845) !important;
}
.my-3{
  border:1px solid black !important;
}
.volver a {
  text-decoration: none;
  color: white;
}
#mostrarNotificacion  {
  background-color: #729d38;
    border-radius: 9px;
    color: white;
    display: inline-block;
    line-height: 2;
    font-size: 13px;
    font-weight: bold;
    margin-left: 8px;
    min-width: 24px;
    height:30px;
    padding: 1px 4px;
    text-align: center;
    -webkit-transition: background-color 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: background-color 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
    vertical-align: middle;
}
